/combined_submissions_and_downloads.csv
/get_monthly_downloads_extracted_05-04-2018.csv
/get_monthly_downloads_extracted_09-08-2018.csv
/get_monthly_submissions_extracted-05-04-2018.csv
/get_monthly_submissions_extracted_09-08-2018.csv
